{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Car Form</title>
    <link rel="stylesheet" href="{% static 'user/home.css' %}">
    <link rel="stylesheet" href="{% static 'user/create_car.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
    <header>
        <div class="head-info">
            <div class="container">
                <div class="row">
                    <ul class="d-flex">
                        <li>
                            <a href="https://tap.az/">Tap.az</a>
                        </li>
                        <li>
                            <a href="https://bina.az/">Bina.az</a>
                        </li>
                        <li>
                            <a href="https://boss.az/">Boss.az</a>
                        </li>
                    </ul>
                    <ul class="d-flex">
                        <span>Dəstək: (012) 505-77-55</span>
                        <li>
                            <a href="">Yardım</a>
                        </li>
                        <li>
                            <a href="">RU</a>
                        </li>
                        <li>
                            <a href="{% url 'like_page' %}">
                                <i class="fa-solid fa-heart"></i>
                                Seçilmişlər
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'login_register' %}">
                                <i class="fa-solid fa-circle-user"></i>
                                Giriş
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="web-navbar">
            <div class="container">
                <div class="row">
                    <div class="nav-1 d-flex g-5">
                        <ul class="d-flex">
                            <li><a href="{% url 'home' %}">Ana səhifə</a></li>
                            <li><a href="{% url 'home' %}">Bütün elanlar</a></li>
                            <li><a href="{% url 'salons' %}">Salonlar</a></li>
                            <li><a href="">Moto</a></li>
                            <li><a href="">Ehtiyat hissələri və aksesuarlar</a></li>
                            <li><a href="">İcarə</a></li>
                        </ul>
                    </div>
                    <div class="nav-2">
                        <div class="btn">
                            <a href="{% url 'create_car' %}">
                                <span><i class="fa-solid fa-circle-plus"></i></span>Yeni elan
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <form class="filter-form">
            <div class="filter-group">
                <select id="brands_car" name="BRANDS_CAR" required>
                    <option value="0" disabled selected>Marka</option>
                    {% for brand in brands_car %}
                        <option value="{{ brand.id }}">{{ brand.name }}</option>
                        {% endfor %}
                    </select>
                    <select id="models_car" name="MODELS_CAR" required>
                        <option value="0" disabled selected>Model</option>
                        {% for car_model in models_car %}
                            <option value="{{ car_model.id }}">{{ car_model.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="filter-group">
                    <input type="number" placeholder="Qiymət, min.">
                    <input type="number" placeholder="maks.">
                    <select id="mony_currenc" name="MONY_CURRENC" required>
                        {% for mony_currencs in mony_currenc %}
                            <option value="{{ mony_currencs.id }}">{{ mony_currencs.name }}</option>
                        {% endfor %}
                    </select>
                    <select>
                        <option>Kredit</option>
                        <option>Barter</option>
                    </select>
                </div>
                <div class="filter-group">
                    <select type="text" id="color" name="COLOR" required>
                        <option value="0" disabled selected>Rəng</option>
                        {% for colors in color %}
                            <option value="{{ colors.id }}">{{ colors.name }}</option>
                        {% endfor %}
                    </select>
                    <select type="text" id="fuel_type" name="FUEL_TYPE" required>
                        <option value="0" disabled selected>Yanacaq növü</option>
                        {% for fuel in fuel_type %}
                            <option value="{{ fuel.id }}">{{ fuel.name }}</option>
                        {% endfor %}
                    </select>
                    <select type="text" id="transmission_type" name="TRANSMISSION_TYPE" required>
                        <option value="0" disabled selected>Ötürücü</option>
                        {% for transmitter in transmission_type %}
                            <option value="{{ transmitter.id }}">{{ transmitter.name }}</option>
                        {% endfor %}
                    </select>
                    <select id="transmission" name="TRANSMISSION" required>
                        <option value="0" disabled selected>Sürətlər Qutusu</option>
                        {% for transmissions in transmission %}
                            <option value="{{ transmissions.id }}">{{ transmissions.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="filter-group">
                    <input type="number" placeholder="Həcm (sm³), min.">
                    <input type="number" placeholder="maks.">
                    <input type="number" placeholder="Güc (a. g.), min.">
                    <input type="number" placeholder="maks.">
                    <input type="number" placeholder="Yürüş (km), min.">
                    <input type="number" placeholder="maks.">
                </div>
                <div class="filter-group">
                    <select type="text" id="body_type" name="BODY_TYPE">
                        <option value="0" disabled selected>Ban növü</option>
                        {% for body_car in body_type %}
                            <option value="{{ body_car.id }}">{{ body_car.name }}</option>
                        {% endfor %}
                    </select>
                    <input type="number" placeholder="İl, min.">
                    <input type="number" placeholder="maks.">
                </div>
                <div class="filter-group">
                    <select type="text" id="city" name="CITY">
                        <option value="0" disabled selected>Şəhər</option>
                        {% for city_car in city %}
                            <option value="{{ city_car.id }}">{{ city_car.name }}</option>
                        {% endfor %}   
                    </select>
                </div>
                <div class="filter-group">
                    <select type="text" id="owner_count" name="OWNER_COUNT">
                        <option disabled selected>Sahiblərinin sayı</option>
                        {% for owner_car in owner_count %}
                        <option value="{{ owner_car.id }}">{{ owner_car.name }}</option>
                        {% endfor %}   
                    </select>
                    <select type="text" id="seat_count" name="SEAT_COUNT">
                        <option value="0" disabled selected>Yerlərin sayı</option>
                        {% for seat_car in seat_count %}
                            <option value="{{ seat_car.id }}">{{ seat_car.name }}</option>
                        {% endfor %}
                    </select>
                    <select type="text" id="market" name="MARKET">
                        <option value="0" disabled selected>Hansı bazar üçün yığılb</option>
                        {% for market_car in market %}
                            <option value="{{ market_car.id }}">{{ market_car.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="filter-group">
                    <label>
                        <input type="checkbox"> Vuruğu yoxdur
                    </label>
                    <label>
                        <input type="checkbox"> Rənglənməyib
                    </label>
                    <label>
                        <input type="checkbox"> Yalnız qəzalı avtomobillər
                    </label>
                </div>
                <div class="filter-group">
                    <select>
                        <option disabled selected>Status</option>
                        <option>Yeni</option>
                        <option>Sürülmüş</option>
                    </select>
                </div>
                <div class="filter-group">
                    <label>
                        <input type="checkbox"> Yüngül lehimli disklər
                    </label>
                    <label>
                        <input type="checkbox"> ABS
                    </label>
                    <label>
                        <input type="checkbox"> Lyuk
                    </label>
                    <label>
                        <input type="checkbox"> Yağış sensoru
                    </label>
                    <label>
                        <input type="checkbox"> Mərkəzi qapanma
                    </label>
                    <label>
                        <input type="checkbox"> Park radarı
                    </label>
                    <label>
                        <input type="checkbox"> Kondisioner
                    </label>
                    <label>
                        <input type="checkbox"> Oturacaqların isidilməsi
                    </label>
                    <label>
                        <input type="checkbox"> Dəri salon
                    </label>
                    <label>
                        <input type="checkbox"> Ksenon lampalar
                    </label>
                    <label>
                        <input type="checkbox"> Arxa görüntü kamerası
                    </label>
                    <label>
                        <input type="checkbox"> Yan pərdələr
                    </label>
                    <label>
                        <input type="checkbox"> Oturacaqların ventilyasiyası
                    </label>
                </div>
                <div class="bottom-section">
                    <button type="button" class="submit-button">Elanları göstər</button>
                    <button type="reset" class="reset-button">Sıfırla</button>
                    <button class="hide-button">Gizlət</button>
                </div>
            </form>
        </div>
        <div class="content-car">
            {% for car in cars %}
            <div class="card" id="{{ car.id }}">
                <img class="car-img" src="{{ car.front_view_image.url }}" alt="Car Image">
                <div class="badge">{{ car.brand }}</div>
                <button class="icon" id="heart-icon" data-car-id="{{ car.id }}">
                    <i class="fas fa-heart"></i>
                </button>
                <div class="card-body">
                    <h5 class="car-model">{{ car.car_models }}</h5>
                    <p class="car-info">{{ car.year }}, {{ car.engine_capasity }} L, {{ car.mileage }} km</p>
                    <p class="car-location">{{ car.city }}, bugün 13:29</p>
                </div>
                <div class="card-footer">
                    <span class="price">{{ car.price }} AZN</span>
                    <span class="details"><i class="fas fa-crown"></i></span>
                    <a href="{% url 'edit_car' car.id %}" class="edit-button">Edit</a>
                </div>
            </div>
            {% endfor %}
        </div>
    
        <script src="{% static 'user/main.js' %}"></script>
    </body>
    </html>